* {
  margin: 0;
}

:root {
  --netflix-background-color: #141414;
  --netflix-text-seconary: #e5e5e5;
}

body {
  background-color: #111;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.app {
  overflow-x: hidden;
}
