.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  transition: all ease-in-out 0.5s;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
  height: 68px;
}

.navbar--dark {
  background-color: var(--netflix-background-color);
}

.navbar__content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 4%;
}

.navbar__logo img {
  height: 25px;
  margin-right: 25px;
}

.navbar__avatar {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar__secondary img {
  width: 33px;
  border-radius: 5px;
  margin-right: 2px;
}

.navbar__primary {
  display: flex;
  padding: unset;
}

.navbar__primary li {
  list-style: none;
  margin-left: 20px;
}

.navbar__primary li a {
  color: var(--netflix-text-seconary);
  text-decoration: none;
  font-weight: 400;
  transition: color ease 0.4s;
  font-size: 1.6rem;
}

.navbar__primary li a:hover {
  color: #b3b3b3;
}

.navbar__primary--active {
  color: white !important;
  font-weight: 600 !important;
  cursor: default;
}

.navbar__primary--active:hover {
  pointer-events: none;
}

.navbar__secondary {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.navbar__secondary > .MuiSvgIcon-root {
  margin-left: 20px;
}

.navbar__secondary .MuiSvgIcon-root {
  font-size: 2.8rem;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .navbar__primary li a {
    font-size: 0.85vw !important;
  }

  .navbar__secondary > .MuiSvgIcon-root {
    margin-left: 15px;
  }

  .navbar__secondary .MuiSvgIcon-root {
    font-size: 2.1rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 950px) {
  .navbar {
    height: 40px;
  }

  .navbar__logo img {
    height: 13px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 840px) {
  .navbar__primary li a {
    font-size: 1.2vw !important;
  }
}

@media screen and (max-width: 500px) {
  .navbar__primary {
    display: none !important;
  }
}
